{% extends "@FOSUser/layout.html.twig" %}

{% block tilebar %}Register{% endblock %}
{% block breadcrumbs %}Register{% endblock %}

{% block fos_user_content %}

    <div class="container">





        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <!--Tab -->
                <div class="my-account style-1 margin-top-5 margin-bottom-40">

                    <ul class="tabs-nav">
                        <li><a href="#">Register</a></li>
                    </ul>

                    <div class="tabs-container alt">



                        <!-- Register -->
                        <div class="tab-content" id="tab1" style="display: none;">
                            {% trans_default_domain 'FOSUserBundle' %}
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register'}}) }}

                            <p class="form-row form-row-wide">
                                <label for="cin">CIN:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.id, {'attr': {'id':'cin'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="nom">Nom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.nom, {'attr': {'id':'nom'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="prenom">Prenom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.prenom, {'attr': {'id':'prenom'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="username">Username:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.username, {'attr': {'id':'username'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="email">Email Address:
                                    <i class="im im-icon-Mail"></i>
                                    {{ form_widget(form.email, {'attr': {'id':'email'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="password">Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.first, {'attr': {'id':'password'}}) }}
                                </label>
                            </p>





                            <p class="form-row form-row-wide">
                                <label for="confirm_password">Repeat Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.second, {'attr': {'id':'confirm_password'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="telephone">Telephone:
                                    <i class="im-icon-Phone-2"></i>
                                    {{ form_widget(form.telephone, {'attr': {'id':'telephone'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="adresse">Adresse:
                                    <i class="im-icon-Map-Marker2"></i>
                                    {{ form_widget(form.adresse, {'attr': {'id':'adresse'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="dateNaisance">Date Naissance:

                                    {{ form_widget(form.dateNaissance, {'attr': {'id':'dateNaisance'}}) }}
                                </label>
                            </p>

                            <p class="form-row">
                                {{ form_widget(form.submit, {'attr': {'id':'sub','class':'button border fw margin-top-10'}}) }}

                            </p>

                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>



            </div>
        </div>












    </div>

{% endblock fos_user_content %}
